<div class="blog-item-no-data">
  <div class="blog-item-no-data__image mb-5 flex items-center justify-center">400x250</div>
  <span class="circle-divider mr-7.5 gap-3 flex items-center justify-start mb-5">Oct 10, 2022</span>
  <div class="blog-item-no-data__content">
    <h3 class="card__heading">Blog title</h3>
    <p class="content-desc mb-8">
      The denim resurgence is the result of the long, secretive days that people have to stay indoors.The era of spor
    </p>
  </div>
</div>
