{%- if product.handle != blank -%}
  <button button-compare type="button" aria-label="Add to compare" class="button-compare" data-product-handle="{{ product.handle }}">
    {% render 'icon', icon_name: 'icon-compare' %}
  </button>

  <script>
        var compareLocalStorage = localStorage.getItem('shopify-compare');
        if (compareLocalStorage) {
             var arrCompareLocal = compareLocalStorage.split(',');
             var dataProductHandle = '{{ product.handle }}'
             if (arrCompareLocal.includes(dataProductHandle)) {
                var buttonEle = document.querySelector('#product-{{ product.id }}')
                if (buttonEle && !buttonEle.classList.contains('active')) {
                    buttonEle.classList.add('active')
                }
             }
        }
    </script>
{%- endif -%}