<div class="card-no-data">
  <div class="card-no-data__image flex items-center justify-center">Image</div>
  <div class="card-no-data__content">
    <h3 class="card__heading">Product title</h3>
    <div class="card-no-data__price">
      <span class="card-no-data__price-compare line-through price-item">$99</span>
      <span class="card-no-data__price price price-item">$66</span>
    </div>
  </div>
</div>
