<div class="tp-qty-wrapper">
  <div class="product-form__input product-form__quantity" {{ block.shopify_attributes }}>
    <quantity-input class="tp-item__quantity border rounded" data-section="{{ section.id }}">
      <button class="tp-item__qty_btn no-js-hidden" name="minus" type="button">
        <svg class="tp-item__qty_icon" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 8h16v1H0z" fill="currentColor" fill-rule="evenodd"></path>
        </svg>
      </button>
      <input
        class="tp-item__qty_input quantity-{{ section.id }}"
        form="product-form-{{ section.id }}"
        min="1"
        name="quantity"
        type="number"
        value="1"
      >
      <button class="tp-item__qty_btn no-js-hidden" name="plus" type="button">
        <svg class="tp-item__qty_icon" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 8h16v1H0z" fill="currentColor" fill-rule="evenodd"></path>
          <path d="M8 0v16H7V0z" fill="currentColor" fill-rule="evenodd"></path>
        </svg>
      </button>
    </quantity-input>
  </div>
</div>
