<div class="header__search">
    <div class="hs__popup">
        <div class="icon-search" role="button">
            {% render 'icon', icon_name: 'icon-search', class: "w-modal" %}
        </div>
        {% render 'search-modal-content' %}
    </div>
</div>