<div class="content flex">
  <div class="description w-3/5 pr-4">
    <h3 class="title">Introduce</h3>
    <p>
      There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
      form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a
      passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All
      the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first
      true generator on the Internet.
    </p>
    <p>
      Typography is the work of typesetters, compositors, typographers, graphic designers, art directors, manga artists,
      comic book artists, graffiti artists, and now—anyone who arranges words, letters, numbers, and symbols for
      publication, display, or distribution—from clerical workers and newsletter writers to anyone self-publishing
      materials
    </p>
  </div>
  <div class="details w-2/5">
    <h3 class="title">Details</h3>
    <ul>
      <li class="type--s">Made from full-grain leather sourced from top-rated local Italian tanneries</li>
      <li class="type--s">
        Handcrafted in Italy at a best-in-class factory, a leader in responsible and sustainable practices
      </li>
      <li class="type--s">Lined with breathable soft leather</li>
      <li class="type--s">Premium footbed with antimicrobial properties and extra cushioning</li>
      <li class="type--s">100% waxed-cotton laces</li>
      <li class="type--s">No virgin plastics ever</li>
      <ul></ul>
    </ul>
  </div>
</div>
<div class="description-style-2">
  <div class="content">
    <h4>Introduce</h4>
    <p>
      There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
      form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a
      passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All
      the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first
      true generator on the Internet.
    </p>
    <h4>Unordered lists</h4>
    <ul>
      <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
      <li>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        <ul>
          <li>Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</li>
          <li>Donec eu libero sit amet quam egestas semper.</li>
          <li>Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</li>
        </ul>
      </li>
      <li>Aliquam tincidunt mauris eu risus.</li>
      <li>Vestibulum auctor dapibus neque.</li>
    </ul>
    <h4>Sample Paragraph Text With Images</h4>
    <div class="flex content-wrapper">
      <div class="image-item w-2/5 pr-5">
        <img
          src="https://cdn.shopify.com/s/files/1/0624/8638/0738/files/blog-1_480x480.jpg?v=1668389114"
          alt=""
          data-mce-fragment="1"
          data-mce-src="https://cdn.shopify.com/s/files/1/0624/8638/0738/files/blog-1_480x480.jpg?v=1668389114"
        >
      </div>
      <div class="content-desc w-3/5">
        <p>
          Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
          et dolore magna aliqua.&nbsp;
        </p>
        <p>
          <em
            >Sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</em
          >
        </p>
      </div>
    </div>
    <div class="flex content-wrapper">
      <div class="content-desc content-2 w-4/5">
        <p>
          Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
          et dolore magna aliqua.&nbsp;
        </p>
        <p>
          <em
            >Sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</em
          >
        </p>
      </div>
      <div style="text-align: start;" class="image-item image-item-2 w-1/5 pl-5">
        <img
          style="float: none;"
          src="https://cdn.shopify.com/s/files/1/0624/8638/0738/files/blog-9_240x240.jpg?v=1668389205"
        >
      </div>
    </div>
  </div>
  <div class="flex content-bottom-wrapper">
    <div class="item w-1/2">
      <h4>Sample Unordered List</h4>
      <ul>
        <li>Fabric 1: 100% Polyester</li>
        <li>Fabric 2: 100% Polyester,Lining: 100% Polyester</li>
        <li>Fabric 3: 75% Polyester, 20% Viscose, 5% Elastane</li>
      </ul>
    </div>
    <div class="item w-1/2">
      <h4>Sample Numbered List</h4>
      <ol>
        <li>Fabric 1: 75% Polyester, 20% Viscose, 5% Elastane</li>
        <li>Fabric 2: 100% Polyester,Lining: 100% Polyester</li>
        <li>Fabric 3: 100% Polyester</li>
      </ol>
    </div>
  </div>
</div>
<div class="description-style-3">
  <div class="flex items-center description-wrapper">
    <div class="w-1/2 item" style="text-align: start;">
      <img
        src="https://cdn.shopify.com/s/files/1/0624/8638/0738/products/5_502a3c59-8443-4490-a035-f838250c815f.png?crop=center&amp;width=900"
        style="float: none;"
        data-mce-fragment="1"
      >
    </div>
    <div class="w-1/2 item text-center px-7.5">
      <h3>TRENDY STYLE</h3>
      <p>
        Proin euismod elit at viverra condimentum. Donec ornare sodales tincidunt. Integer fringilla suscipit erat a
        ornare. Curabitur ullamcorper varius congue. Donec congue commodo ex in ullamcorper. Cras vitae lectus gravida,
        gravida nunc ut, hendrerit lorem. Donec nec mattis metus, ut posuere odio. Integer ut ultrices nibh.
      </p>
    </div>
  </div>
  <div class="flex items-center description-wrapper">
    <div class="w-1/2 item text-center px-7.5">
      <h3>TRENDY STYLE</h3>
      <p>
        Proin euismod elit at viverra condimentum. Donec ornare sodales tincidunt. Integer fringilla suscipit erat a
        ornare. Curabitur ullamcorper varius congue. Donec congue commodo ex in ullamcorper. Cras vitae lectus gravida,
        gravida nunc ut, hendrerit lorem. Donec nec mattis metus, ut posuere odio. Integer ut ultrices nibh.
      </p>
    </div>
    <div class="w-1/2 item" style="text-align: start;">
      <img
        src="https://cdn.shopify.com/s/files/1/0624/8638/0738/products/3_0d714028-4a34-46ff-91d9-d1195df4e356.png?crop=center&amp;width=900"
        style="float: none;"
        data-mce-fragment="1"
      >
    </div>
  </div>
  <div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tincidunt nunc at eros tempus, ac scelerisque dolor
      luctus. Vivamus non convallis arcu. Duis vitae scelerisque nulla. Mauris a euismod diam. Sed condimentum luctus
      arcu, sit amet dictum dui cursus ut. Curabitur id maximus risus. Proin suscipit eu libero et sodales. Vestibulum
      efficitur est enim, finibus luctus nisi dictum imperdiet. Donec ante ipsum, aliquet nec rutrum in, tincidunt nec
      est. Curabitur faucibus nulla id ex commodo, eget venenatis dui congue. Pellentesque nibh lorem, elementum in
      facilisis eget, cursus ut turpis. Suspendisse lobortis egestas est id luctus. Aenean a turpis ac neque porttitor
      semper sit amet id ex. Integer et dui eleifend, hendrerit erat eget, elementum arcu. Ut quis viverra metus.
    </p>
    <p>
      Proin euismod elit at viverra condimentum. Donec ornare sodales tincidunt. Integer fringilla suscipit erat a
      ornare. Curabitur ullamcorper varius congue. Donec congue commodo ex in ullamcorper. Cras vitae lectus gravida,
      gravida nunc ut, hendrerit lorem. Donec nec mattis metus, ut posuere odio. Integer ut ultrices nibh. Proin
      aliquam, nunc in placerat feugiat, nulla diam ultricies erat, ac mollis massa enim vel eros. Aliquam hendrerit
      ante dolor, eget semper augue fermentum sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
      id eleifend nisl, nec aliquet ipsum. Pellentesque tempus est justo, ac mattis mauris hendrerit vitae.
    </p>
  </div>
  <div class="flex content-bottom">
    <div class="w-1/2 item">
      <h4>Sample Unordered List</h4>
      <ul>
        <li>Comodous in tempor ullamcorper miaculis.</li>
        <li>Pellentesque vitae neque mollis urna mattis laoreet.</li>
        <li>Divamus sit amet purus justo.</li>
      </ul>
    </div>
    <div class="w-1/2 item">
      <h4>Sample Ordered List</h4>
      <ol>
        <li>Comodous in tempor ullamcorper miaculis.</li>
        <li>Pellentesque vitae neque mollis urna mattis laoreet.</li>
        <li>Divamus sit amet purus justo.</li>
      </ol>
    </div>
  </div>
</div>

{% comment %} Css taiwind {% endcomment %}
<div>
  <div>
    <h5>Perfectly Done</h5>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
      of Lorem Ipsum.
    </p>
    <p></p>
  </div>
  <br>
  <div class="flex flex-wrap">
    <div
      class="w-full md:w-1/2"
      style="    width: 50%;"
    >
      <h5>Wireless</h5>
      <p>
        Fusce vitae nibh mi. Integer posuere, libero et ullamcorper facilisis, enim eros tincidunt orci, eget vestibulum
        sapien nisi ut leo. Cras finibus vel est ut mollis. Donec luctus condimentum ante et euismod.
      </p>
      <h5>Fresh Design</h5>
      <p>
        Integer bibendum aliquet ipsum, in ultrices enim sodales sed. Quisque ut urna vitae lacus laoreet malesuada eu
        at massa. Pellentesque nibh augue, pellentesque nec dictum vel, pretium a arcu. Duis eu urna suscipit, lobortis
        elit quis, ullamcorper massa.
      </p>
      <h5>Fabolous Sound</h5>
      <p>
        Cras rutrum, nibh a sodales accumsan, elit sapien ultrices sapien, eget semper lectus ex congue elit. Nullam dui
        elit, fermentum a varius at, iaculis non dolor. In hac habitasse platea dictumst.
      </p>
    </div>
    <div
      class="w-full md:w-1/2 md:pl-5"
      style="    width: 50%;"
    >
      <p>
        <img
          class="w-full md:w-auto"
          src="https://cdn.shopify.com/s/files/1/0253/4961/9778/files/product-image_1024x1024.jpg?v=1599202696"
          width="1024x1024"
          height="1024x1024"
        >
      </p>
      <p></p>
    </div>
  </div>
  <br>
  <div class="flex flex-wrap">
    <div class="w-full md:w-1/2 md:pr-5">
      <img
        class="w-full md:w-auto"
        src="https://cdn.shopify.com/s/files/1/0253/4961/9778/files/product-image2_1024x1024.jpg?v=1599202717"
        width="1024x1024"
        height="1024x1024"
      >
    </div>
    <div class="w-full md:w-1/2">
      <h5>Inteligent Bass</h5>
      <p>
        Fusce vitae nibh mi. Integer posuere, libero et ullamcorper facilisis, enim eros tincidunt orci, eget vestibulum
        sapien nisi ut leo. Cras finibus vel est ut mollis. Donec luctus condimentum ante et euismod.
      </p>
      <h5>Battery Life</h5>
      <p>
        Integer bibendum aliquet ipsum, in ultrices enim sodales sed. Quisque ut urna vitae lacus laoreet malesuada eu
        at massa. Pellentesque nibh augue, pellentesque nec dictum vel, pretium a arcu. Duis eu urna suscipit, lobortis
        elit quis, ullamcorper massa.
      </p>
    </div>
  </div>
</div>
