<div class="sidebar-prd-slider">
  <div class="facet-title mb-5">
    <span class="facet-font-size-title">{{ title }}</span>
    <div class="flex items-center">
      <div class="swiper-sidebar-prev swiper-nav-default__item">
        {% render 'icon', icon_name: 'icon-prev-type1', width: '8', height: '8' %}
      </div>
      <div class="swiper-sidebar-next swiper-nav-default__item">
        {% render 'icon', icon_name: 'icon-next-type1', width: '8', height: '8' %}
      </div>
    </div>
  </div>
  <div class="relative">
    <div
      class="swiper sidebar-product-slider"
    >
      <div class="swiper-wrapper">
        {% if product_list != blank %}
          {% for product in product_list %}
            <div class="swiper-slide">
              {% render 'card-product-layout-2',
                card_product: product,
                layoutProductItem: bt.number_product_show,
                section: section,
                lazy_load: lazy_load,
                show_rating: false
              %}
            </div>
          {% endfor %}
        {% else %}
          {% for item in (1..7) %}
            <div class="swiper-slide">
              {%- render 'card-product-no-data' -%}
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
