{%- if product.metafields.reviews.rating.value != blank -%}
    {% assign stars = product.metafields.reviews.rating.value %}
    {% assign tnv = stars | remove: ".0" | times: 1 | ceil %}
    {% assign starRemaining = 5 | minus: tnv | ceil %}
    <div class="stars-reviews">
        <div class="stars flex justify-center items-start">

            {% for i in (1..tnv) %}
                <span aria-label="Rating of this product is out of 5." class="stars-new have mr-0.5">{% render 'icon', icon_name: 'icon-star', width: 12, height: 12 %}</span>
            {% endfor %}

            {% for i in (1..starRemaining) %}
                <span aria-label="Rating of this product is out of 5." class="not-have mr-0.5">{% render 'icon', icon_name: 'icon-star-empty', width: 12, height: 12 %}</span>
            {% endfor %}   
        </div>
    </div>
    <!-- <span aria-label="Rating of this product is out of 5." class="stars" style="--rating: {{ product_card_product.metafields.reviews.rating.value }};"></span> -->
{% else %}
<div class="stars-reviews">
    <div class="stars flex justify-center items-start">
        {% for i in (1..5) %}
            <span aria-label="Rating of this product is out of 5." class="not-have mr-0.5">{% render 'icon', icon_name: 'icon-star-empty', width: 12, height: 12 %}</span>
        {% endfor %}
    </div>
</div>
{%- endif -%}

