{% liquid
  assign WidthLayout = section.settings.width_layout
%}
<div
  class="recently-product recently-product-detail {{ WidthLayout }}"
  id="recently-product"
  data-product-to-show="{{ section.settings.products_to_show }}"
>
  {% if section.settings.heading != blank %}
    <h2 class="recently-product__title">{{ section.settings.heading }}</h2>
  {% endif %}
  <div class="product-rize-mobile">
    <div id="recently-product__main"></div>
  </div>
</div>
{% render 'margin-bottom' %}
{% schema %}
{
  "name": "Recently product",
  "class": "section-recently-product hidden",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "width_layout",
      "label": "Width layout",
      "options": [
        {
          "value": "container",
          "label": "Container"
        },
        {
          "value": "sm-container",
          "label": "Small container"
        },
        {
          "value": "lg-container",
          "label": "Large container"
        },
        {
          "value": "width-full",
          "label": "Width full"
        }
      ],
      "default": "container"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Title",
      "default": "Recently product"
    },

    {
      "type": "select",
      "id": "products_to_show",
      "label": "Column number product",
      "options": [
        {
          "value": "4",
          "label": "4 column"
        },
        {
          "value": "5",
          "label": "5 column"
        }
      ],
      "default": "4"
    },
    {
      "type": "header",
      "content": "t:sections.margin_bottom.content"
    },
    {
      "type": "paragraph",
      "content": "Unit: pixel"
    },
    {
      "type": "number",
      "id": "margin_bottom_desktop",
      "label": "t:sections.margin_bottom.desktop.label",
      "default": 80
    },
    {
      "type": "number",
      "id": "margin_bottom_table",
      "label": "t:sections.margin_bottom.tablet.label",
      "default": 60
    },
    {
      "type": "number",
      "id": "margin_bottom_mobile",
      "label": "t:sections.margin_bottom.mobile.label",
      "default": 40
    }
  ]
}
{% endschema %}
