.tp-content__title:hover{
    color: #D63888!important;
  }
  .tp-content__description:hover{
    color: #D63888!important;
  }
  .text-feature-home{
    color: #000000!important;
  }
  .text-feature-home:hover{
    color: #D63888!important;
  }
  #shopify-section-template--15242141401157__1a3a6cef-0363-489c-956e-348ae5c07cdc > div > div > div.tp-fcl__top.tp-box-button__style-1 > div > div > button.collection_tablinks.collection_tablinks-template--15242141401157__1a3a6cef-0363-489c-956e-348ae5c07cdc.active.text-feature-home{
    color: #D63888!important;
  }
  .services-button{
    display: flex;
    justify-content: center;
  }
  .tp-fcl__main-banner .tp-fcl__banner .popup-wrapper .sale:after, .tp-fcl__main-banner .tp-fcl__banner .popup-wrapper .sale:before{
    #ffffff!important;
  }
  .title-hurry{
    font-size: 22px!important;
  }
  .button-baner-card{
    position: absolute;
    top:17%;
    left: 382%;
    width: 158px;
  }
  .sale-50 {
      background-color: #ffffff!important;
      background: linear-gradient(180deg,#ffffff,#ffffff)!important;
      border-radius: 50px;
      -ms-box-shadow: 0 0 0 rgba(0, 0, 0, 0.4)!important;
      -o-box-shadow: 0 0 0 rgba(0, 0, 0, 0.4)!important;
      box-shadow: 0 0 rgb(0 0 0 / 40%)!important;
      color: #d83e84!important;
      font-weight: bold!important;
  }