.tp-content__title:hover{
    color: #D63888!important;
  }
  .tp-content__description:hover{
    color: #D63888!important;
  }
  .text-feature-home{
    color: #000000!important;
  }
  .text-feature-home:hover{
    color: #D63888!important;
  }
  #shopify-section-template--15242141401157__1a3a6cef-0363-489c-956e-348ae5c07cdc > div > div > div.tp-fcl__top.tp-box-button__style-1 > div > div > button.collection_tablinks.collection_tablinks-template--15242141401157__1a3a6cef-0363-489c-956e-348ae5c07cdc.active.text-feature-home{
    color: #D63888!important;
  }
  .services-button{
    display: flex;
    justify-content: center;
  }
  /* .tp-fcl__main-banner .tp-fcl__banner .popup-wrapper .sale:after, .tp-fcl__main-banner .tp-fcl__banner .popup-wrapper .sale:before{
    #ffffff;
  } */
  .title-hurry{
    font-size: 22px!important;
  }
  @media screen and (min-width: 1500px) {
  .button-baner-card{
    position: fixed;
    top:17%;
    left: 449%;
    width: 158px;
  }
}
  @media screen and (max-width: 1024px) {
  .button-baner-card{
    position: fixed;
    top:17%;
    left: 240%;
    width: 158px;
  }
}
@media screen and (max-width: 768px) {
  .button-baner-card{
    position: fixed;
    top:17%;
    left: 124%;
    width: 158px;
  }
}
  .sale-50 {
      background-color: #ffffff!important;
      background: linear-gradient(180deg,#ffffff,#ffffff)!important;
      border-radius: 50px;
      -ms-box-shadow: 0 0 0 rgba(0, 0, 0, 0.4)!important;
      -o-box-shadow: 0 0 0 rgba(0, 0, 0, 0.4)!important;
      box-shadow: 0 0 rgb(0 0 0 / 40%)!important;
      color: #d83e84!important;
      font-weight: bold!important;
  }
  .newsletter {
      background: linear-gradient(90deg,#d63888, #fba242)!important;
  }
  newsletter .field__input {
    background-color: hsla(0,0%,100%,.2);
    border-radius: 60px!important;;
    color: #fff!important;;
    font-weight: 400!important;;
    padding: 10px 0 10px 20px!important;;
    width: 450px!important;
}
.color-general-footer{
  color:#000000!important;
}
.products-vertical__thumb, .swiperProType1 {
  border: 1px solid #dedede!important;
}
.tp-product-detail__left .products-vertical__thumb {
  border: 1px solid #dedede!important;
}
.tp-product-detail__left .products-vertical__thumb .wp-img-thumb {
  border-bottom: 1px solid #ffffff!important;
}
.tp-product-detail__right .tp-info-wrap .item-brand-info, .tp-product-detail__right .tp-info-wrap .item-brand-info a {
  color: #000000!important;
}
.tp-product-detail__left .swiperProType1 .tp-wishlist-compare .button-compare, .tp-product-detail__left .swiperProType1 .tp-wishlist-compare .button-wishlist{
  border: 1px solid #d63888!important;
}
.main-product-info__tab .tp-title-tabs.active, .main-product-info__tab .tp-title-tabs:hover:not(.active){
  color: #000000!important;
}
.main-product-info__tab .tp-title-tabs{
  color: #000000!important;
}
.product-description {
  color: #000000!important;
}
.tp-product-detail__right .price__sale .price-item--last {
  color: #d63888;
}
.tp-product-detail__right .price__sale .price-item--regular {
  color: #d63888;
}
.tp-box-button__style-1 .active{
  color: #d63888!important;
}
.card__content .prd-item-atc .add-to-cart-text svg{
  fill:#FBA242!important;
}
.card__content .prd-item-atc:hover  .add-to-cart-text svg{
  fill:#FFF!important;
}
.card__content .prd-item-atc:hover {
  background-color:#FBA242!important;
}
.price .price-item{
  font-weight: 700!important;
}
.card .price-item {
    color: #000000!important;
}
.card .product-item-badge{
  background-color:#FBA242!important;
}
.card-wrapper__layout-2 .add-to-cart-text svg {
    fill: #fff!important;
}
.card-wrapper__layout-2 .card__inner {
    border-right: 1px solid #DEDEDE!important;
}
.card-wrapper__layout-2:hover .card__inner {
    border-right: 1px solid #d63888!important;
}